[run]
omit =
    */citylearn/agents/*
    */__main__.py
    */end_use_load_profiles/*
    */reward_function.py
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/rl.py  
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/cost_function.py 
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/wrappers.py 
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/occupant.py 
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/dynamics.py  
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/building.py
    /Users/rui.pina/Documents/Thesis/rebase/Simulator/citylearn/citylearn.py
    test_weather.py 
    __init__.py 
    test_battery.py
    test_electric_vehicle.py 
    test_electric_vehicle_charger.py
    */power_outage.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
