__pycache__
*.pyc
.DS_Store
.vscode/
env

# do not track all ORNL city idf files
ornl/data/idf/cities/

# do not track all simulation output files
ornl/data/simulation_output/*/*

# output files to keep
!ornl/data/simulation_output/*/*.idf
!ornl/data/simulation_output/*/*.csv
